In [61]:
import pandas as pd

In [62]:
file = "code.txt"
code = []

In [63]:
with open(file) as fp:
    line = fp.readline()
    while line:
        print(line.strip())
        code.append(line.strip())
        line = fp.readline()

start
if
for
while
for
do
int
double
string
else
end

In [64]:
ts = pd.read_csv("tokens.csv", header=[0], sep=';')
ts

          KW   value
0   KW_START   start
1      KW_IF      if
2     KW_FOR     for
3   KW_WHILE   while
4    KW_THEN    then
5    KW_ELSE    else
6     KW_SWT  switch
7    KW_CASE    case
8     KW_VAR     var
9     KW_INT     int
10    KW_STR  string
11    KW_DBL  double
12  KW_FLOAT   float
13    KW_END     end

In [65]:
for index, row in ts.iterrows():
    for c in code:
        if c == row['value']:
            print(row['KW'])

KW_START
KW_IF
KW_FOR
KW_FOR
KW_WHILE
KW_ELSE
KW_INT
KW_STR
KW_DBL
KW_END