In [6]:
import pandas as pd

In [7]:
file = open('code.txt', 'r')
code = []

In [12]:
filepath = 'code.txt'
with open(filepath) as fp:
    line = fp.readline()
    cnt = 1
    while line:
        print(line.strip())
        code.append(line.strip())
        line = fp.readline()

start
if
var
end

In [13]:
ts = pd.read_csv("tokens.csv", header=[0])
ts

         KW  value
0  KW_START  start
1    KW_END    end
2    KW_VAR    var
3     KW_IF     if

In [14]:
for x in ts.values:
    print(x)

['KW_START' 'start']
['KW_END' 'end']
['KW_VAR' 'var']
['KW_IF' 'if']

In [27]:
for index, row in ts.iterrows():
    for c in code:
        if c == row['value']:
            print(row['KW'])

KW_START
KW_START
KW_START
KW_END
KW_END
KW_END
KW_VAR
KW_VAR
KW_VAR
KW_IF
KW_IF
KW_IF