In [26]:
import pandas as pd

In [27]:
file = "code.txt"
code = []

In [28]:
with open(file) as fp:
    line = fp.readline()
    while line:
        print(line.split())
        code.append(line.split())
        line = fp.readline()

['class', 'CodigoPyscal', ':']
['def', 'void', '()', ':']
['integer', 'num1', ';']
['bool', 'ex', '=', 'true', ';']
['while(ex)', ':']
['num', '=', 'num', '+', '1', ';']
['if(num', '==', '5)', ':']
['ex', '=', 'false', ';']
['end', ';']
['end', ';']
['end', '.']

In [29]:
ts = pd.read_csv("tokens.csv", header=[0], sep=',')
ts

       token     lexema
0   KW_CLASS      class
1     KW_END        end
2     KW_DEF        def
3    KW_RTRN     return
4    KW_STTC  defstatic
5    KW_VOID       void
6    KW_MAIN       main
7    KW_BOOL       bool
8     KW_INT    integer
9     KW_STR     String
10    KW_DBL     double
11     KW_IF         if
12  KW_WHILE      while
13  KW_WRITE      write
14    OP_DOT          .
15   OP_SCOL          ;
16    OP_COL          :
17   OP_OPAR          (
18   OP_CPAR          )
19  OP_COMMA          ,
20    OP_ATR          =
21     OP_OR         or
22    OP_AND        and
23   OP_GRTR          >
24   OP_LESS          <
25  OP_GRTEQ         >=
26  OP_LSSEQ         <=
27    OP_EQL         ==
28    OP_DIF         !=
29   OP_SLSH          /
30   OP_MULT          *
31    OP_SUB          -
32   OP_PLUS          +
33   OP_EXCL          !
34   OP_TRUE     "true"
35  OP_FALSE    "false"

In [30]:
for i, row in ts.iterrows():
    for i in range(len(code)):
        for j in range(len(code[i])):
            if(code[i][j] == row['lexema']):
                print(row['token'])

KW_CLASS
KW_END
KW_END
KW_END
KW_DEF
KW_VOID
KW_BOOL
KW_INT
OP_DOT
OP_SCOL
OP_SCOL
OP_SCOL
OP_SCOL
OP_SCOL
OP_SCOL
OP_COL
OP_COL
OP_COL
OP_COL
OP_ATR
OP_ATR
OP_ATR
OP_EQL
OP_PLUS